<h1> All Tags </h1>

<ul id="tags">
  <% @tags.each do |tag| %>
  <li>
    <%= link_to tag tag_path(tag), class: 'tag_title', id: "tag_#{tag.id}" %>
  </li>
  <% end %>
  </<ul>
    
<% if logged_in? %>
<%= link_to 'Create a New Article', new_article_path, class: 'new_article' %>
<% end %>
